<p class="titolo">Ode ai CSS</p>
<style>
 .arcobaleno{
 color: #00cc99;
 font-family: sans-serif;
 font-size: 100px
   
 }
</style>


<p class="color">Con il colore dipingi emozioni,</p>

p2{
color:#ffcc00;
 font-family: 
 

}
<style>
.color{
 color: #ff944d;
  font-family: fantasy;
  font-size: 40px

}
</style>
